
.panel.panel-default.margin-top-10
  .panel-body.font-normal

    = render partial: 'pre_interview/consent'

    = link_to '同意', pre_interview_edit_path(params[:token]), class: 'btn btn-raised btn-primary'