/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_directory .
 *= require_directory ../../../vendor/assets/stylesheets/.
 *= require font-awesome
 *= require bootstrap-material-design
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fff !important;
}

.container {
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {

  .panel {
    .table {
      display: block;

      thead, tbody, th, td, tr {
        display: block;
      }

      tbody:first-child {
        tr:first-child {
          th, td {
            border-top: 1px solid #ddd;
          }
        }
      }
    }
  }

}